.h-in-view {
  transition-property: opacity;
  transition-duration: 1.2s;
  transition-delay: 0.5s;
  opacity: 1;
}

@media (max-width: 1100px) {
  .h-in-view {
    transition-duration: 0s;
    transition-delay: 0s;
    opacity: 1;
  }
}