@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham/Gotham-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham/Gotham-Book.otf");
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham/Gotham-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham/Gotham-Medium.otf");
  font-weight: medium;
}

:root {
  --header-height: 48px;
  --footer-height: 371px;
}

body {
  overflow: hidden;
  /* Нужно. Иначе при первой загрузке появляется на секунду скроллбар*/
}

/* Всё это можно удалить, оставить только --header-height */

header {
  position: fixed;
  top: 0;
  height: var(--header-height);
  width: 100%;
  background-color: #1D2C69;
  z-index: 20;
}

footer {
  position: relative;
  height: var(--footer-height);
  width: 100%;
  background-color: #1D2C69;
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(2vw + 2vh);
  color: white !important;
}

@media (min-width: 500px) {
  :root {
    --header-height: 49px;
  }
}

@media (min-width: 1100px) {
  :root {
    --header-height: 103px;
  }
}